[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dash = "==1.17.0"
elasticsearch = "*"
pandasticsearch = "*"
pandas = "*"
dash-bootstrap-components = "*"

[requires]
python_version = "3.8"
